<div class="product-container">
    <div class="product-index" >
        <app-product-item *ngFor="let product of products" [product]="product" style="margin:20px;" (addCartProduct)="addToCart($event)"></app-product-item>
    </div>
</div>

<!-- Button to import products to the database when it is empty -->
<ng-container *ngIf="!hideButton">
    <div class="product-container">
        <button class="btn btn-primary"(click)="importProducts()">Import info to database</button>
    </div>
</ng-container>
