<div class="confirmation-container">
    <div class="confirmation-items">
        <h1 class="confirmation-header">Order placed!</h1>
        <h2 class="confirmation-item">Thank you, {{ fullName }}!</h2>
        <p class="confirmation-item">Your <strong>${{ totalPayment }}</strong> order is confirmed!</p>
        <p>Your order has been successfully processed. You will receive an email confirmation shortly.</p>
        <button class="btn btn-primary" routerLink="">Back to products list</button>
    </div>
</div>