<div class="cart-item">
    <div class="cart-item-details">
        <a routerLink="/product/{{ cartProduct.id }}"><img src="{{cartProduct.url}}" alt="{{cartProduct.name}}"></a>
        <button type="button" class="btn btn-danger" (click)="deleteProduct(cartProduct)">Delete</button>
    </div>
    <div class="cart-item-details ">
        <h3>{{ cartProduct.name }}</h3>
        <p>${{ cartProduct.price }}</p>
        <input type="number" min="1" [ngModel]="cartProduct.quantity" (ngModelChange)="updateQuantity($event)">
    </div>
</div>